
<div class='formulario'>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Nombre</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telefono</label>
        </div>
         <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Email</label>
        </div>
        
   
        <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
          <select multiple>
               <option class='text' value="" disabled selected>¿Qué productos te interesan?</option>
                <option value="1">Batería de Gel</option>
                <option value="2">Controlador SL</option>
                 <option value="3">Controlador Digital</option>
                 <option value="3">Tepocontrolador</option>
                 <option value="3">Inversor</option>
                 <option value="3">Microinversor</option>
                 <option value="3">Panel</option>
                 <option value="3">Focos LED</option>
                 <option value="3">Reflector de LED</option>
                 <option value="3">Arbotante</option>
                 <option value="3">Aerogenerador</option>
                 <option value="3">Calentadores Solares</option>
                 <option value="3">Cámara de vigilancia</option>
           </select>
  </div>
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Mensaje</label>
        </div>
      </div>
    </form>
  </div>
 <div class='row center'>
                <a style='background-color:#98D2D0' class='waves-effect waves-light btn modal-trigger' href="#modal1">
               Enviar
                </a>  
              </div>
   

      </div>
    </form>
  </div>
  </div>