<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div id='mensage' class="container">
        <br><br>
        <img class='logis' src="/assets/images/segosol.png">
    	<div class="row center">
          <h5 class="header col s12 light white-text">Energía limpia y renovable</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
    	<img src="/assets/images/panel12.jpg" alt="Unsplashed background img 1">
    </div>
 </div>

<div class='container'>
	<div class='section'>
		<div class='row'>
			<div class="col s12 m4">
				<div class='icon-block'>
					<h2 class='icon center'><i class="fa fa-motorcycle" aria-hidden="true"></i></h2>
					<h4 class='tittle center' >Productos de calidad</h4>
					<p class='textin center'>Nuestros productos son de la más alta calidad y cumplen los más altos estandares de satisfacción.</p>
				</div>
			</div>

			<div class="col s12 m4">
			<div class='icon-block'>
				<h2 class='icon center'><i class="fa fa-hand-paper-o" aria-hidden="true"></i></h2>
				<h4 class='center tittle'>Instalación incluida</h4>	
				<p class='textin center'>La instalacón de nuestros productos es gratuita dentro del estado de Hidalgo.</p>
				</div>
			</div>

			<div class="col s12 m4" >
			<div class='icon-block'>
				<h2 class='icon center'><i class="fa fa-file-text-o" aria-hidden="true"></i></h2>
				<h4 class='tittle center'>10 años de garantía</h4>
				<p class='textin center'>Con años de experiencia, los productos segosol aseguran su funcionalidad al menos 10 años </p>
			</div>
			</div>
		</div>
	</div>
</div>
		<div  id='index-banner' class='parallax-container valign-wrapper'>
			<div class='section no-pad-bot'>
				<div class='container'>
					<div class= ' row center'>
						<h4 class='textin header col 12 light 	white-text'>Ayuda al planeta usando energias alternativas y gasta menos en el proceso</h4>
					</div>
				</div>
			</div>
			<div class='parallax'>
				
					<img src="/assets/images/energia-renovable.jpg" alt="Unsplashed background img 2">
			</div>
		</div>	
			<div clas='container'>
				<div class='section'>
					<div class='row'>
						<div class='col s12 center'>
							<h5>¿Tienes alguna duda?</h5>
							<p class='ceter'>
							Queremos escucharte, mandanos tus datos y tus dudas y con mucho gusto nuestro equipo se contactará contigo.
							</p>
							<div class='row center'>
								<a style='background-color:#98D2D0' class='waves-effect waves-light btn modal-trigger' href="#modal1">
								Contactanos
								</a>	
							</div>
						</div>	
					</div>		
				</div>
			</div>
	<div class='parallax-container'>
		<div class='section no-pad-bot'>
			<!-- <div class='container'>
				
			</div> -->
			<div class='parallax'>
				<img src="/assets/images/paneles-solares.png">
			</div>
		</div>
	</div>

	<div clas='container'>
				<div class='section'>
					<div class='row'>
						<div class='col s12 center'>
							<h5>Tienes alguna duda?</h5>
							<p class='cenrer'>
							Queremos escucharte, mandanos tus datos y tus dudas y con mucho gusto nuestro equipo estara para ayudarte.
							</p>

							</div>
							</div>
							</div>
							</div>


