<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div id='mensage' class="container">
        <br><br>
        <img class='logis' src="/assets/images/segosol.png">
    	<div class="row center">
          <h5 class="header col s12 light white-text">Energía limpia y renovable</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
    	<img src="/assets/images/panel12.jpg" alt="Unsplashed background img 1">
    </div>
</div>

<div class='container'>
	<div class='section'>
		<div class='row'>
			<div class="col s12 m4">
				<div class='icon-block'>
					<h2 class='icon center'><i class="fa fa-hand-paper-o" aria-hidden="true"></i></h2>
					<h4 class='tittle center' >Productos de calidad</h4>
					<p class='textin center'>Nuestros productos son de la más alta calidad y cumplen los más altos estándares de satisfacción.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class='icon-block'>
					<h2 class='icon center'><i class="fa fa-motorcycle" aria-hidden="true"></i></h2>
					<h4 class='center tittle'>Entrega incluida</h4>	
					<p class='textin center'>La entrega de nuestros productos es gratuita dentro del estado de Hidalgo.</p>
				</div>
			</div>

			<div class="col s12 m4" >
				<div class='icon-block'>
					<h2 class='icon center'><i class="fa fa-file-text-o" aria-hidden="true"></i></h2>
					<h4 class='tittle center'>10 años de experiencia</h4>
					<p class='textin center'>Con años de experiencia, los productos Segosol aseguran su funcionalidad y calidad.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div  id='index-banner' class='parallax-container valign-wrapper'>
	<div class='section no-pad-bot'>
		<div class='container'>
			<div class= 'row center'>
				<h4 class='textin header col 12 light 	white-text'>Ayuda al planeta usando energías alternativas y gasta menos en el proceso</h4>
			</div>
		</div>
	</div>
	<div class='parallax'>	
		<img src="/assets/images/energia-renovable.jpg" alt="Unsplashed background img 2">
	</div>
</div>	
<div clas='container'>
	<div class='section'>					
		<h4 class= 'filter'>Nuestros productos</h4>
		<div class='productos row'>	    
			<div  class="col l4 m6 s12">
				<div class=' tarjeta'>
					<div class='efectito_y foto'>
						<a href="#/productos/1">
							<img class='image' src="/assets/productos/Bateria_gel_7ah.jpg">
						</a>
						<p>Energía Solar</p>
					</div>
				</div>
			</div>
			<div  class="col l4 m6 s12">	
				<div class=' tarjeta'>
					<div class='efectito_y foto'>
						<a href="#/productos/2">
							<img class='image' src="/assets/productos/panel_50w.jpg">
						</a>
						<p>Paneles Solares</p>
					</div>
				</div>
			</div>
			<div  class="col l4 m6 s12">
				<div class=' tarjeta'>
					<div class='efectito_y foto'>
						<a href="#/productos/3">
							<img class='image' src="/assets/productos/foco_12v_3w.png">
						</a>
						<p>Iluminación Led</p>
					</div>
				</div>
			</div>	
			<div  class="col l4 m6 s12">
				<div class=' tarjeta'>
					<div class='efectito_y foto'>
							<a href="#/productos/4">
								<img class='image' src="/assets/productos/aerogenerador_200w.jpg">
							</a>
							<p>Energía eólica</p>
					</div>
				</div>
			</div>
			<div  class="col l4 m6 s12">
				<div class=' tarjeta'>
					<div class='efectito_y foto'>
						<a href="#/productos/5">
							<img class='image' src="/assets/productos/postes.png">
						</a>
						<p>Cercas eléctricas solares</p>
					</div>
				</div>
			</div>
			<div  class="col l4 m6 s12">
				<div class=' tarjeta'>
					<div class='efectito_y foto'>
						<a href="#/productos/6">
							<img class='image' src="/assets/productos/camara_2.png">
						</a>
						<p>Cámaras de vigilancia</p>
					</div>
				</div>
			</div>
			<div  class="col l4 m6 s12">
				<div class=' tarjeta'>
					<div class='efectito_y foto'>
						<a href="#/productos/7">
							<img class='image' src="/assets/productos/calentador_ecoclasss.jpg">
						</a>
						<p class='categoria'>Calentadores Solares</p>
					</div>
				</div>
			</div>
			<div  class="col l4 m6 s12">
				<div class='tarjeta'>
					<div class='efectito_y foto'>
						<a href="#/productos/8">
							<img class='image' src="/assets/productos/semaforo.jpg">
						</a>
						<p>Otros</p>
					</div>
				</div>
			</div>
			<div  class="col l4 m6 s12">
				<div class='  tarjeta'>
					<div class='efectito_y foto'>
						<a href="#/productos/0">
							<img class='image' src="/assets/productos/panel_10w.jpg">
						</a>
						<p>Todos</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='parallax-container'>
		<div class='section no-pad-bot'>
			<!-- <div class='container'>	
			</div> -->
			<div class='parallax'>
				<img src="http://www.mecasolar.com/pub/doc/Mont-Mecasolar%202.jpg">
			</div>
		</div>
	</div>
	<div clas='container'>
				<div class='section'>
					<div class='row'>
						<div class='col s12 center'>
							<h5>¿Tienes alguna duda?</h5>
							<p class='cenrer'>
							Queremos escucharte, mandanos tus datos y tus dudas, y con mucho gusto nuestro equipo te atenderá.
							</p>
							<div class='row center'>
								<a style='background-color:#6BB6B8' class='waves-effect waves-light btn modal-trigger' href="#/contacto">
								Contactanos
								</a>	
							</div>
						</div>
					</div>
				</div>	
	</div>
</div>

