


<div >
  <h4 class='filter'>Proyectos de Energía Solar y Eólica</h4>
  <br>

  <h5 class='proyectines'>Los combustibles fósiles se están agotando de manera irremediable. A pesar de que existen muchas maneras de obtener energía a partir de fuentes naturales (aprovechando los beneficios que ofrece la madre naturaleza). De manera constante se está avanzando en el mundo hacia un modelo energético solar más sano y natural. Encontramos la energía solar aplicada en múltiples proyectos:

  </h5>
</div>
 <div style='width:82%' class="carousel">
    <a class="carousel-item" ><img style='width:220%'  src="/assets/proyectos/proyecto6-01.png"></a>
    <a class="carousel-item" ><img style='width:220%' src="/assets/proyectos/proyecto7-01.png"></a>
    <a class="carousel-item"><img style='width:220%' src="/assets/proyectos/proyecto8-01.png"></a>
    <a class="carousel-item" ><img style='width:220%' src="/assets/proyectos/proyecto10-01.png"></a>
    <a class="carousel-item" ><img style='width:220%' src="/assets/proyectos/proyecto11-01.png"></a>
    <a class="carousel-item" ><img style='width:220%' src="/assets/proyectos/proyecto12-01.png"></a>
    <a class="carousel-item" ><img style='width:220%' src="/assets/proyectos/proyecto13-01.png"></a>
    <a class="carousel-item" ><img style='width:220%' src="/assets/proyectos/proyecto14-01.png"></a>
    <a class="carousel-item" ><img style='width:220%' src="/assets/proyectos/proyecto15-01.png"></a>
  </div>
  <br>