


<div class='row'>
  <h4 class='filter'>Nuestros proyectos</h4>
  <br>
  <br>
  <div class='proyects col l2 offset-l2'>
    <h5 class='nombres'>Interconexión</h5>
  </div>
  <div class='col l8'>
    <img style='width:90%; margin-left:5%' class=' col l6' src="/assets/images/inter.png">
  </div>
  <br>
  <div class='proyects col l2 offset-l2'>
    <h5 class='nombres'>Sistema Isla</h5>
  </div>
  <div class='col l8'>
  <img style='width:90%; margin-left:5%' src="/assets/images/inter2.png">
  </div>
</div>