
.row .btn{
	background-color: #6BB6B8;
}

.filter{
	font-family: 'Comfortaa', cursive;
	text-align:center;
}

.texts{
	font-size:30px;
	font-family: 'Poiret One', cursive;
	margin:0 10px 0 10px;
}
.panel i{
	font-size:35px;
}
