


<section>
<div class="container">


<h3 class='filter'>Bienvenido al Panel de Administrador</h3>
<p class='filter'>Sube nuevos items al catálogo completando el formulario</p>

<form ng-valid ng-submit="agregar()">
  <div class=" panel row">
    
    <div class="input-field col m12">
          <i class=" fa fa-sticky-note-o" aria-hidden="true"></i>
          <span class='texts'>Nombre</span>

          <input ng-model="nuevoP.nombre" type="text" placeholder="Nombre del producto" class="validate">
          
    </div>
  </div>

  <div class=" panel row">
    
    <div class="input-field col m12">
          <i class="fa fa-list" aria-hidden="true"></i>
          <span class='texts'>Descripción</span>
          
          <textarea ng-model="nuevoP.des" class="materialize-textarea" placeholder="Descripción del producto"></textarea>     
    </div>
  </div>

  <div class="panel row">
    
    <div class="input-field col m12">
          <i class="fa fa-folder-open-o" aria-hidden="true"></i>

          <span class='texts'>Categoría</span>
          <select ng-model="nuevoP.cat" class="browser-default">
               <option class='text' value="" disabled selected>Elige la categoría a la que pertenece</option>
                <option value="1">Batería de Gel</option>
                <option value="2">Controlador SL</option>
                <option value="4">Controlador Digital</option>
                <option value="5">Tepocontrolador</option>
                <option value="6">Inversor</option>
                <option value="7">Microinversor</option>
                <option value="8">Panel</option>
                <option value="9">Focos LED</option>
                <option value="10">Reflector de LED</option>
                <option value="11">Arbotante</option>
                <option value="12">Aerogenerador</option>
                <option value="13">Calentadores Solares</option>
                <option value="14">Cámara de vigilancia</option>
          </select>
    </div>
  </div>

  <div class="panel row">
    
    <div class="input-field col m12">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
           <span class='texts'>Imagen</span>
          <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input onchange="angular.element(this).scope().subirArchivo()" type="file">

          </div>
          <div class="file-path-wrapper">
            <input id="nombre" class="file-path validate" type="text"  placeholder="Sube la imágen del producto">

          </div>
        </div>
        <img width="100px" id="preview" src="">
        <img id="loader" style="display:none" width="100px" src="https://apply.commonapp.org/Include/Contents/images/animated_loading_icon.gif">
    </div>
  </div>

  <div class="row">
    
    <div class="input-field col m2 offset-m3">
          <input class="btn" type="submit" value="Agregar">
    </div>    
    <div class="input-field col m2 offset-m3">
          volver
    </div>
    <br>
  </div>

  

</form> 
</div>
</section>
